<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="人脸识别考勤系统.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="人脸识别考勤系统.Properties.MyConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="FaceAttendance" connectionString="server=.;uid = Jack;pwd=12345678;database=Face_AttendanceDB" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <人脸识别考勤系统.Properties.Settings>
      <setting name="ImgSrc" serializeAs="String">
        <value>/Icons/logo.jpg</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>大头无敌</value>
      </setting>
      <setting name="ThemeColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="SignSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RankSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WeatherSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="City" serializeAs="String">
        <value>恩施</value>
      </setting>
      <setting name="NotifySwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BirthdaySwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HolidayCgSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LooksSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeLimitSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LateTime" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="EarlyTime" serializeAs="String">
        <value>17</value>
      </setting>
    </人脸识别考勤系统.Properties.Settings>
    <人脸识别考勤系统.Properties.MyConfig>
      <setting name="ImgSrc" serializeAs="String">
        <value>F:\cy448\Pictures\微博\123.jpg</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>大头无敌</value>
      </setting>
      <setting name="ThemeColor" serializeAs="String">
        <value>Aqua</value>
      </setting>
      <setting name="SignSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RankSwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WeatherSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="City" serializeAs="String">
        <value>天门</value>
      </setting>
      <setting name="NotifySwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BirthdaySwitch" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HolidayCgSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LooksSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimeLimitSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LateTime" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="EarlyTime" serializeAs="String">
        <value>2</value>
      </setting>
    </人脸识别考勤系统.Properties.MyConfig>
  </userSettings>
</configuration>